<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>This is a sample page of a website</h1>
    <br><br><br>
    <h1>This page tracks the live subscriber count of ShreeMan LegenD Live Raid Highlights
    </h1>
    <br><br>
    <h1>The current subscriber count is {{subsc}}</h1>
    <br><br>
    <h1>The current view count is {{views}}</h1>
    <br><br>
    <h1>You may cross check it <a href="https://www.youtube.com/channel/UCWJIPkkittn7HkKlbTwPriQ">here</a></h1>
</body>

</html>